<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
<head>
    <title>${tmpl_context.title} - ${model} Listing</title>
    <style>
        ${Markup(tmpl_context.crud_style)}
    </style>
</head>
<body class="tundra">
    <div id="crud_leftbar">
        <ul id="menu_items" py:if="hasattr(tmpl_context, 'menu_items')">
            <li py:for="lower, item in sorted(tmpl_context.menu_items.iteritems())">
                <a href="${tmpl_context.crud_helpers.make_link(lower)}">$item</a>
            </li>
        </ul>
    </div>
    <div id="crud_content">
      <h1>$model Listing</h1>
      <div id="crud_btn_new">
        <a href='${tg.url("new", params=tmpl_context.kept_params)}' class="add_link">New $model</a>
        <span py:if="value_list" py:content="tmpl_context.paginators.value_list.pager(link=mount_point+'/')"/>
      </div>
      <div class="crud_table">
        ${XML(tmpl_context.widget.display(value=value_list, action=mount_point+'.json'))}
      </div>
    </div>
    <div style="clear:both;"/>
</body>
</html>
