<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
<head>
    <title>${tmpl_context.title} - ${model} Listing</title>
    <style>
        ${Markup(tmpl_context.crud_style)}
    </style>
    <script>
        function crud_search_field_changed(select) {
            var selected = '';
            for (var idx=0; idx != select.options.length; ++idx) {
                if (select.options[idx].selected)
                    selected = select.options[idx];
            }
            var field = document.getElementById('crud_search_value');
            field.name = selected.value;
        }
    </script>
</head>
<body class="tundra">
    <div id="crud_leftbar">
        <ul id="menu_items" py:if="hasattr(tmpl_context, 'menu_items')">
            <li py:for="lower, item in sorted(tmpl_context.menu_items.iteritems())">
                <a href="${tmpl_context.crud_helpers.make_link(lower)}">$item</a>
            </li>
        </ul>
    </div>
    <div id="crud_content">
      <h1>$model Listing</h1>
      <div id="crud_btn_new">
        <a href='${tg.url("new", params=tmpl_context.kept_params)}' class="add_link">New $model</a>
        <span py:if="value_list" py:content="tmpl_context.paginators.value_list.pager(link=mount_point+'/')"/>
        <div id="crud_search">
            <form>
                <select id="crud_search_field" onchange="crud_search_field_changed(this);">
                    <option value="${headers[0][0]}" selected="selected">${headers[0][1]}</option>
                    <option py:for="field,name in headers[1:]" value="${field}">${name}</option>
                </select>
                <input id="crud_search_value" name="${headers[0][0]}" type="text" placeholder="equals"/>
                <input type="submit" value="Search"/>
            </form>
        </div>
      </div>
      <div class="crud_table">
        ${XML(tmpl_context.widget(value=value_list, action=mount_point+'.json'))}
      </div>
    </div>
    <div style="clear:both;"/>
</body>
</html>
