language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.10"

install:
  - "travis_retry pip install nose"
  - "travis_retry pip install git+git://github.com/TurboGears/sprox.git@development"
  - "travis_retry pip install git+git://github.com/TurboGears/tg2.git@development"

script: "python setup.py nosetests"
